
.tab1{
  float:left;
  overflow:scroll;
  height: 400px;


  }

  #id1{
    min-width: 1200px;
    background-color: maroon;

  }

  #id2{
    min-width: 1200px;
    background-color: maroon;

  }

  #title1{
    position:sticky;



  }
