<!-- <div class="div-container mat-elevation-z8">

    <mat-table matSort aria-label="Elements">

      <ng-container matColumnDef="scientific_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Scientific type</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.scientific_type}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.author}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="characteristic">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Characteristic</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.characteristic}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="location_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Location name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.location_name}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="coordinate_x">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Coordinate x</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.coordinate_x}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="coordinate_y">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Coordinate y</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.coordinate_y}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="altitude">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Altitude</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.altitude}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="tolerance">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tolerance</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.tolerance}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Region</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.region}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="date_of_creation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of creation</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.date_of_creation}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="observer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Observer</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.observer}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.quantity}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="source_of_origin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Source of origin</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.source_of_origin}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="genus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Genus</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.genus}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Species</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.species}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>

   -->

    <ui5-table id="myTblGrowsOnScroll" class="tab1" mode="SingleSelect" growing="Scroll">

   <ui5-table-column slot="columns" style="width: 12rem" id="title1">
     <span style="line-height: 1.4rem">Scientific type</span>
   </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800" >
     <span style="line-height: 1.4rem" >Author</span>
   </ui5-table-column>

   <ui5-table-column slot="columns"  min-width="800">
     <span style="line-height: 1.4rem">Characteristic</span>
   </ui5-table-column>

   <ui5-table-column slot="columns"  min-width="800">
    <span style="line-height: 1.4rem">Location name</span>
  </ui5-table-column>

  <ui5-table-column slot="columns"  min-width="800">
    <span style="line-height: 1.4rem">Coordinate x</span>
  </ui5-table-column>

  <ui5-table-column slot="columns"  min-width="800">
    <span style="line-height: 1.4rem">Coordinate y</span>
  </ui5-table-column>

  <ui5-table-column slot="columns"  min-width="800">
    <span style="line-height: 1.4rem">Altitude</span>
  </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800">
     <span style="line-height: 1.4rem">Tolerance</span>
   </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800">
     <span style="line-height: 1.4rem">Region</span>
   </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800" >
     <span style="line-height: 1.4rem" >Date of creation</span>
   </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800">
     <span style="line-height: 1.4rem">Observer</span>
   </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800">
    <span style="line-height: 1.4rem">Quantity</span>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <span style="line-height: 1.4rem">Source of origin</span>
  </ui5-table-column>

  <ui5-table-column slot="columns" min-width="800">
    <span style="line-height: 1.4rem">Genus</span>
  </ui5-table-column>

   <ui5-table-column slot="columns" min-width="800">
     <span style="line-height: 1.4rem">Species</span>
   </ui5-table-column>



   <ui5-table-row>
     <ui5-table-cell>Carabus granulatus</ui5-table-cell>
     <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
     <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
     <ui5-table-cell>genau bis 100 m</ui5-table-cell>
     <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
     <ui5-table-cell>2021-06-06</ui5-table-cell>
     <ui5-table-cell>Meitzner,V.</ui5-table-cell>
     <ui5-table-cell>terminatus</ui5-table-cell>
   </ui5-table-row>

   <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>

  <ui5-table-row>
    <ui5-table-cell>Carabus granulatus</ui5-table-cell>
    <ui5-table-cell>Linnaeus, 1758</ui5-table-cell>
    <ui5-table-cell>Carabus granulatus s.str.</ui5-table-cell>
    <ui5-table-cell>genau bis 100 m</ui5-table-cell>
    <ui5-table-cell> D-Mecklenburg-Vorpommern</ui5-table-cell>
    <ui5-table-cell>2021-06-06</ui5-table-cell>
    <ui5-table-cell>Meitzner,V.</ui5-table-cell>
    <ui5-table-cell>terminatus</ui5-table-cell>
  </ui5-table-row>
    </ui5-table>









<script>
  myTblGrowsOnScroll.addEventListener("load-more", function() {
    busyIndicator.active = true;

    rowsToLoad.forEach(() => {
      myTblGrowsOnScroll.appendChild(document.createElement('ui5-table-row'));
    });

    setTimeout(() => {
      busyIndicator.active = false;
    }, 500);
  });
</script>




<ui5-table id="myTblGrowsOnScroll" class="tab1" mode="SingleSelect" growing="Scroll">


    <ng-container *ngFor="let colum of displayedColumns" >

      <ui5-table-column slot="columns" style="width: 12rem" id="title1">
        <span style="line-height: 1.4rem">{{ colum | uppercaseWords }}</span>
        </ui5-table-column>
    </ng-container>

  <ng-container *ngFor="let def of finding" >
      <ui5-table-row>
        <ng-container *ngFor="let colum of displayedColumns">
        <ui5-table-cell>{{ def[colum] }}</ui5-table-cell>

        </ng-container>

      </ui5-table-row>



  </ng-container>

</ui5-table>

<p>{{finding}}</p>




<table id="users">
  <tr>
    <th *ngFor = "let column of displayedColumns">
      {{column}}
    </th>
  </tr>

  <tr *ngFor = "let row of finding">
    <td *ngFor = "let column of displayedColumns">
      {{row[column]}}
    </td>
  </tr>

</table>
