mat-card {


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}

mat-card-content {

    min-width: 2800px;
    width: 100%;

}