.container{
  overflow: hidden;
  position: relative;
  display: grid;

  height:1200px;


}
  .item{
    float: left;
  }
  #item2{
    position: absolute;
    left: 250px;
    top:20px;
    height:500px;
    right: 10px;

  }

  #new-finding{
    float: right;
  }


