<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="240px">
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader><img alt="beetle" src="../../../assets/images/Beetle_red.png"/></div>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>Bei der Tweel 08, 18059 Rostock</div>
        <div mat-line></div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>+34 913366000</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
        <div mat-line> felipe.saldivar@uni-rostock.de</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>ARTIFACTS VERSIONS</div>
      <mat-list-item>
        <mat-icon mat-list-icon>computer</mat-icon>
        <div mat-line>Front-end - {{version}}({{profile}})</div>
      </mat-list-item>
      
      <mat-list-item>
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <div mat-line>Back-end - Python</div>
        <div mat-line>Customer Support - {{backEndCustomerSupport}}</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>ABOUT AS</div>
      <mat-list-item>
        <div mat-line>Rostock University</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>BeetleApp Project</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line></div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
